<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FeedFetcherAPI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FeedFetcherCache.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FeedFetcheriOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Feedfetcher.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FeedfetcherApiEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>FeedfetcherFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>494F8ECC2AE9A58C0035B145</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>494F8ED32AE9A58C0035B145</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>494F8F302AEC3B010035B145</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>494F8F372AEC3B020035B145</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>494F8F682AED7EAD0035B145</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49B931662AE80BE000A1FE26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49B9316E2AE80BE000A1FE26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49B931C32AE9190000A1FE26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49B931CA2AE9190100A1FE26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49DB5EDC2AEDAD32006FD43E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
